*{
    padding: 0%;
    margin: 0%;
}
main{
    background-image: linear-gradient(#5B2496,#D83C95);
    background-repeat: no-repeat;
width: 100%;
}
header{
    width: 100%;
    height: 220px;
    position: relative;
}
header h1{
     text-align: right;
     color: white;
     font-size: 6em;
     position: absolute;right: 60px;top: 60px;
     font-weight: bold;
     /* float:right */

}
header img{
    position: absolute;left: 60px; top: 5px;
    /* float: left; */

}
nav{
    width: 100;
    height: 50px;
    border: white    2px solid; 
    border-right: 0;
    /* margin-left: auto;
    margin-right: auto; */
}
nav ul {
    list-style: none;
}
nav li{
    float: left;
    border-right:white solid 1px;
}
nav  a{
    height: 50px;
    display: block;
    width: 300px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
nav ul li a:hover{
    color: violet;
}
.items{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    margin-left: 10px;

}
div h3{
    color: tomato;
    font-weight: bold;
    font-size: 2em;
}
div p{
    color: white;
}
div button a{
    text-decoration: none   ;
}
.items button{
    width: 100px;
    height: 40px;
    margin-top: 10px ;
    border-radius: 50%;
}
.items button a:hover{
    background-color: orchid;
    
}
.offer{
    margin-top: 30px;
    margin-left: 20px;
    display: inline-flex;
    position: relative;
}
.words{
    margin-left: 50px;
    color: turquoise;
}
.words h1{
    font-size: 5em;  
}
.words p{
    font-size: 2em;
}
footer{
    margin-top: 10px;
    display: flex;justify-content:space-around  ;
    padding: 15px 0px;
    color: white;
    font-size: 25px;
    border-top: white solid 2px;
}
footer span{
    color: aqua;font-weight: bold;
}
footer ul {
    list-style: none;
    display: flex;
}
footer ul li{
    padding: 0px 10px;
    border-right:1px white solid ;
}
footer ul li a{
    color: white;text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
    color: turquoise;
}
.offer button{
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 400px;
}